<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ANALYTICS</title>
  <link rel="stylesheet" th:href="@{/css/analytics_style.css}">
</head>
<body>
  <h1 style="text-align: center;" >ANALYTICS PAGE</h1>
  <div style="text-align: center;" class="container">
    <button id="runAnalyticsBtn">Get Graphed Detail On Your Daily Usage</button>
    <img id="analyticsGraph" src="" style="display:none" alt="Analytics Graph" />
  </div>
  <script th:src="@{/js/analytics_script.js}"></script>
</body>
</html>